.form-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: white;
    background-attachment: fixed;  
    width: 40vw;
    height: 60vh;  
    margin: 0 auto;  /* Centers the container horizontally */
    border-radius: 15px;  /* Optional: adds rounded corners to the container */
    padding: 10px;  /* Optional: adds padding inside the container */
    box-sizing: border-box;  /* Ensures padding is included in the width/height calculation */
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input {
    display: block;
    margin-bottom: 1rem; /* adds space between rows */
  
}

.input-title{

width: 35vw;
height: 5vh;
border-radius: 2px;
justify-content: start;
border: 1px solid lightgray;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-size: larger;
}

.input-content{
display:flex;
width: 35vw;
height: 30vh;
border-radius: 2px;
overflow: auto; 
border: 1px solid lightgray;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-size: larger;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
margin-bottom: 1rem;
}

.input-URL{
    width: 35vw;
    height: 5vh;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: larger;
    
}



button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:130px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}